<mat-card class="example-card">
    <mat-card-header>    
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-list>
    
    <mat-list-item>
      <mat-icon mat-list-icon>person pin</mat-icon>
      <h4 mat-line>lunch</h4>
      <h4 mat-line>29-01-2018</h4>
      <span class="example-spacer"></span>
        <h4 >60</h4>
        
    </mat-list-item>
    
    <mat-list-item>
        <mat-icon mat-list-icon>person pin</mat-icon>
        <h4 mat-line>lunch</h4>
        <h4 mat-line>30-01-2018</h4>
        <span class="example-spacer"></span>
          <h4 >60</h4>
          
      </mat-list-item>
  
  </mat-list>