<mat-toolbar color="primary">
<mat-toolbar-row>
  <button mat-icon-button color="warn" (click)="navigateBefore($event)">
    <mat-icon aria-label="navigate before">navigate_before</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>Create new Item</span>
</mat-toolbar-row>
</mat-toolbar>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Item name" required value={{createUserData.ItemName}} [(ngModel)]="createUserData.ItemName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Item Amount" required value={{createUserData.Amount}} [(ngModel)]="createUserData.Amount">
  </mat-form-field>  

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Ingredients" required value={{createUserData.ingredient}} [(ngModel)]="createUserData.ingredient"></textarea>
  </mat-form-field>

  
  <input type="file" ng2FileSelect id='ItemfileUpload'/>

</div>

<mat-toolbar color="ThemePalette" class="footerPOsition">
  <button mat-raised-button color="warn" (click)="onSubmit()">Submit</button>
</mat-toolbar>