<mat-tab-group class="demo-tab-group">
    <mat-tab label="Mess">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened="true">

          <mat-nav-list>
              <mat-list-item *ngFor="let data of createUserData"  (click)="onUserClicked(data, $index)">
            <img mat-card-avatar src="{{data.imagePath}}" alt="">
              </mat-list-item>
            </mat-nav-list> 

      </mat-drawer>
      <mat-drawer-content item-height="600px" class="marginLeftFixed marginHeightFixed">

          <mat-form-field class="displayNone">
              <input matInput placeholder="Full name" required value={{createUserData.fullName}} [(ngModel)]="createUserData.fullName">
            </mat-form-field>

          <mat-selection-list>
              <mat-list-option *ngFor="let data of createItemData" >
                  <div class="flexDisplayClass">
                      <img mat-card-avatar src="{{data.imagePath}}" alt="">
                    <div>
                      <h5 class="marginclass">  {{ data.ItemName }} </h5>
                      <div  class="flexDisplayClass">
                      <h5 class="marginclass ruppeeMargin">Rs.</h5>
                      <input matInput placeholder="Enter Amount" type="text" value="{{ data.Amount }}" class="inputMargin mat-input-element">
                      </div>
                    </div>
                      </div> 
              </mat-list-option>
            </mat-selection-list>

          </mat-drawer-content>
    </mat-drawer-container>
    <mat-toolbar color="ThemePalette" class="footerPOsition">
        <!-- <a routerLink="/master" > -->
      <button mat-raised-button color="warn" (click)="onSubmit()">Submit</button>
        <!-- </a> -->
    </mat-toolbar>
  </mat-tab>
    <mat-tab label="Dialy Status">
        <!-- <div class="example-container mat-elevation-z8">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search">
              </mat-form-field>
            </div>
          
            <mat-table #table [dataSource]="dataSource">
          
            
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
              </ng-container>
          
           
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
          
             
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
              </ng-container>
          
            
            </mat-table> 
          </div>-->
    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->

              
              
  </mat-tab> 
</mat-tab-group>


  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->