.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}


.demo-tab-content {
  padding: 16px;
}

.positionPlace{
  position: fixed !important;
  top: 85%;
  left: 85%;
}