<div class="example-container example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Mode of Transport" value="{{vrnMaterData.ModeOfTransport}}" [(ngModel)]="vrnMaterData.ModeOfTransport" disabled='true'>
          </mat-form-field>
      <!-- <mat-form-field>
    <mat-select placeholder="Mode of Transport">
        <mat-option value="option">Road Truck</mat-option>
        <mat-option value="option">Courier Air</mat-option>
      <mat-option>
        test
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-radio-group placeholder="Vehicle Status">
    <mat-radio-button value="1">Loaded</mat-radio-button>
    <mat-radio-button value="2">Empty</mat-radio-button>
  </mat-radio-group> -->

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Vehicle Status" value="{{vrnMaterData.Vehiclestatus}}" [(ngModel)]="vrnMaterData.Vehiclestatus" disabled='true'>
    </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Seal No." value="{{vrnMaterData.DepartureSeal1}}" [(ngModel)]="vrnMaterData.DepartureSeal1" disabled='true'>
  </mat-form-field>


  <mat-form-field class="example-full-width">
      <input matInput placeholder="Vehicle No." value="{{vrnMaterData.VehicleNo}}" [(ngModel)]="vrnMaterData.VehicleNo" disabled='true'>
    </mat-form-field>


  <mat-form-field class="example-full-width">
      <input matInput placeholder="Fleet Type"  value="{{vrnMaterData.FleetType}}" [(ngModel)]="vrnMaterData.FleetType" disabled='true'>
    </mat-form-field>


  <mat-form-field class="example-full-width">
      <input matInput placeholder="Transporter/Agency Name." value="{{vrnMaterData.Transporter}}" [(ngModel)]="vrnMaterData.Transporter" disabled='true'>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Seal Condition" value="{{vrnMaterData.SealCondition}}" [(ngModel)]="vrnMaterData.SealCondition" disabled='true'>
</mat-form-field>

    <!-- <mat-radio-group placeholder="Seal Condition">
        <mat-radio-button value="1">Intact </mat-radio-button>
        <mat-radio-button value="2">Damaged</mat-radio-button>
        <mat-radio-button value="3">No Seal</mat-radio-button>
    </mat-radio-group> -->

    <mat-form-field class="example-full-width">
        <input matInput placeholder="No of Boxes"  value="{{vrnMaterData.SealCondition}}" [(ngModel)]="vrnMaterData.SealCondition" disabled='true'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Driver License No."  value="{{vrnMaterData.LRNumber}}" [(ngModel)]="vrnMaterData.LRNumber" disabled='true'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Driver/Pickup Person Name." value="{{vrnMaterData.DriverName}}" [(ngModel)]="vrnMaterData.DriverName" disabled='true'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Mobile No."   value="{{vrnMaterData.DriverNumber}}" [(ngModel)]="vrnMaterData.DriverNumber" disabled='true'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="AWB no./Docker no./LR no." value="{{vrnMaterData.LRNumber}}" [(ngModel)]="vrnMaterData.LRNumber" disabled='true'>
    </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="In Remarks" value="{{vrnMaterData.Remarks}}" [(ngModel)]="vrnMaterData.Remarks" disabled='true'></textarea>
  </mat-form-field>
  

  <div class="mainFooter button-row">
      <button mat-raised-button color="accent">Check-In</button>
      </div>
</div>



  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->