<mat-toolbar color="primary">
<mat-toolbar-row>
  <button mat-icon-button color="warn" (click)="navigateBefore($event)">
    <mat-icon aria-label="navigate before">navigate_before</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>Item List</span> 
</mat-toolbar-row>
</mat-toolbar>

<div class="example-container">
   <mat-nav-list>
    <mat-list-item *ngFor="let data of createUserData" (click)="onRowClicked(item)">
<div class="flexDisplayClass">
  <img mat-card-avatar src="{{data.imagePath}}" alt="">
<div>
  <h5 class="marginclass">  {{ data.ItemName }} </h5>
  <h5 class="marginclass">Rs.  {{ data.Amount }}</h5>
</div>
  </div> 
    </mat-list-item>
  </mat-nav-list> 
</div>
