<mat-toolbar color="primary">
<mat-toolbar-row>

    <!-- <mat-button class="mat-fab mat-mini" aria-label="Mini FAB" (click)="navigateBefore($event)">
        <mat-icon  class="example-icon">navigate_before</mat-icon>
      </mat-button> -->

      <button mat-icon-button color="warn" (click)="navigateBefore($event)">
          <mat-icon aria-label="navigate before">navigate_before</mat-icon>
        </button>
    <!-- <a matLine href="/master"> -->
    <!-- <mat-icon class="example-icon" (click)="navigateBefore($event)">navigate_before</mat-icon>  -->
  <!-- </a> -->
  <span class="example-spacer"></span>
  <span>Create new user</span>
</mat-toolbar-row>
</mat-toolbar>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Full name" required value={{createUserData.fullName}} [(ngModel)]="createUserData.fullName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <span matPrefix>+91 &nbsp;</span>
    <input type="number" matInput placeholder="Mobile No" required value={{createUserData.mobileNo}} [(ngModel)]="createUserData.mobileNo">
  </mat-form-field>

  <mat-form-field>
    <input matInput required [matDatepicker]="picker" placeholder="Joining date" value={{createUserData.joiningDte}} [(ngModel)]="createUserData.joiningDte" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Rent Amount" required value={{createUserData.RntAmount}} [(ngModel)]="createUserData.RntAmount">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select"  id="typeHstl" (change)="switchHstl($event)">
      <mat-option *ngFor="let hstl of createUserData.hstlTypes" [value]="hstl.value">{{hstl.value}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <span matPrefix>+91 &nbsp;</span>
    <input type="number" matInput placeholder="Other Mobile No" value={{createUserData.OthrMobileNo}} [(ngModel)]="createUserData.OthrMobileNo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Address" required value={{createUserData.address}} [(ngModel)]="createUserData.address"></textarea>
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width"> -->
  <!-- <input type="file" id="myFile" multiple size="50" (onchange)="myFunction(evt)" height="60px"> -->

  <input type="file" ng2FileSelect id='fileUpload'/>

  <!-- </mat-form-field> -->
  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date of Birth" value={{createUserData.DOB}} [(ngModel)]="createUserData.DOB" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker></mat-datepicker>
  </mat-form-field> -->


  <!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your E-mail " required >
    <mat-error *ngIf="number.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field> -->



</div>



<mat-toolbar color="ThemePalette" class="footerPOsition">
    <!-- <a routerLink="/master" > -->
  <button mat-raised-button color="warn" (click)="onSubmit()">Submit</button>
    <!-- </a> -->
</mat-toolbar>