<mat-tab-group>
  <mat-tab label="Delivery (Inbound)">
    <div class="example-container">
      <!-- <form class="example-form"> -->
    <mat-form-field>
      <mat-select placeholder="Mode of Transport"  [(ngModel)]="createVRNData.transmode"><!--selected="{{createVRNData.transmode}}"-->
          <!-- <mat-option value="option">Road Truck</mat-option>
          <mat-option value="option">Courier Air</mat-option> -->
        <mat-option *ngFor="let mode of TransModes" [value]="mode.modeTxt">
          {{mode.modeTxt}}
        </mat-option>
        <!-- <mat-option>test</mat-option> -->
      </mat-select>
    </mat-form-field>
    
    <mat-radio-group placeholder="Vehicle Status"  [(ngModel)]="createVRNData.vehstat"><!--checked="{{createVRNData.vehstat}}"-->
      <mat-radio-button value="1">Loaded</mat-radio-button>
      <mat-radio-button value="2">Empty</mat-radio-button>
    </mat-radio-group>
    
    <mat-form-field>
      <input matInput placeholder="Enter Seal No." value="{{createVRNData.sealNo}}" [(ngModel)]="createVRNData.sealNo">
    </mat-form-field>
    
    
    <mat-form-field>
        <input matInput placeholder="Enter Vehicle No." value="{{createVRNData.vehnum}}" [(ngModel)]="createVRNData.vehnum">
      </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Enter Transporter/Agency Name." value="{{createVRNData.Transporter}}" [(ngModel)]="createVRNData.Transporter">
    </mat-form-field>
    
      <mat-radio-group placeholder="Seal Condition" value="{{createVRNData.sealCond}}" [(ngModel)]="createVRNData.sealCond">
          <mat-radio-button value="1">Intact </mat-radio-button>
          <mat-radio-button value="2">Damaged</mat-radio-button>
          <mat-radio-button value="3">No Seal</mat-radio-button>
      </mat-radio-group>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="No of Boxes" value="{{createVRNData.noOfBoxes}}" [(ngModel)]="createVRNData.noOfBoxes">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Driver License No." value="{{createVRNData.LicNo}}" [(ngModel)]="createVRNData.LicNo">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Driver/Pickup Person Name." value="{{createVRNData.DriverName}}" [(ngModel)]="createVRNData.DriverName">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile No." value="{{createVRNData.MobNo}}" [(ngModel)]="createVRNData.MobNo">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
          <input matInput placeholder="AWB no./Docker no./LR no." value="{{createVRNData.LrNo}}" [(ngModel)]="createVRNData.LrNo">
      </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="In Remarks" value="{{createVRNData.remarks}}" [(ngModel)]="createVRNData.remarks"></textarea>
    </mat-form-field>
      <!-- </form> -->
    </div>
  </mat-tab>
  <mat-tab label="Pickup (Outbound)">
    <div class="example-container">
      <!-- <form class="example-form"> -->
    <mat-form-field>
      <mat-select placeholder="Mode of Transport">
          <mat-option value="option">Road Truck</mat-option>
          <mat-option value="option">Courier Air</mat-option>
        <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option> -->
        <mat-option>
          test
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-radio-group placeholder="Vehicle Status">
      <mat-radio-button value="1">Loaded</mat-radio-button>
      <mat-radio-button value="2">Empty</mat-radio-button>
    </mat-radio-group>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Seal No." value="">
    </mat-form-field>
    
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Vehicle No." value="">
      </mat-form-field>
    
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fleet Type" value="">
      </mat-form-field>
    
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Transporter/Agency Name." value="">
    </mat-form-field>
  
      <mat-form-field class="example-full-width">
          <input matInput placeholder="No of Boxes" value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Driver License No." value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Driver/Pickup Person Name." value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile No." value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="AWB no./Docker no./LR no." value="">
      </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="In Remarks"></textarea>
    </mat-form-field>
      <!-- </form> -->
    </div>
  </mat-tab>
  </mat-tab-group>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button (click)="onSubmit()">Submit</button>
    </mat-toolbar-row>
    </mat-toolbar>